#!/bin/bash

[ -n "$___X_CMD_HUB_TOKEN" ] || {
    x:error "Please set the ___X_CMD_HUB_TOKEN environment variable"
    exit 1
}

apt-get update
apt-get install -y curl

eval "$(curl https://get.x-cmd.com/beta)"

export ___X_CMD_HUB_TOKEN="$___X_CMD_HUB_TOKEN"
