name: test custom cmd
on:
  workflow_dispatch:
    inputs:
      cmd:
        description: 'custom cmd'
        required: false
  # schedule:
  #   - cron: '0 5,23 * * *'

jobs:
  release-worker:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CMD: ${{ github.event.inputs.cmd }}
    steps:
      - name: main
        uses: x-cmd/action@main
        with:
          code: |
            sh -c "${CMD:-"ip"}"
