name: test x-cmd hub ai
on:
  workflow_dispatch:
    inputs:
      apikey:
        description: 'X-CMD HUB APIKEY'
        required: false
  # schedule:
  #   - cron: '0 5,23 * * *'

jobs:
  release-worker:
    runs-on: ubuntu-latest
    env:
      ___X_CMD_GHACTION_X: beta
      ___X_CMD_HUB_TOKEN: ${{ github.event.inputs.apikey }}
    steps:
      - name: main
        uses: x-cmd/action@main
        with:
          code: |
            [ -n "$___X_CMD_HUB_TOKEN" ] || {
                printf "%s\n" "- E|x: Please set the ___X_CMD_HUB_TOKEN environment variable" >&2
                exit 1
            }

            export ___X_CMD_HUB_TOKEN="$___X_CMD_HUB_TOKEN"
            x ws harbor
          artifact_name: log-jobs
          artifact_path: ~/jobs
