name: test x-cmd hub ai
on:
  workflow_dispatch:
    inputs:
      apikey:
        description: 'X-CMD HUB APIKEY'
        required: false
  # schedule:
  #   - cron: '0 5,23 * * *'

jobs:
  release-worker:
    runs-on: ubuntu-latest
    env:
      CMD: ${{ github.event.inputs.apikey }}
    steps:
      - name: main
        uses: x-cmd/action@main
        with:
          code: |
            x ws harbor
          artifact_name: log-jobs
          artifact_path: ./jobs
